{% load staticfiles %}
<html><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'psnek.ico' %}" />

	<title>nicole</title>
</head>

<body>
<div id="page-wrap">

    <div id="title-area">
        <h1><span style="color: #10d608">Nicole</span> Rocha</h1>
    </div>

	<div id="menu">
		<div id="d1" class="dropdown" style="cursor:pointer;" onclick="document.location='../'">Home</div>
	        <!-- <div class="dropdown-content">
	            <span style="cursor:pointer;" onclick="document.location='../CCR1'"> Mentor </span>
	            <span style="cursor:pointer;" onclick="document.location='../CCR2'"> Intellectual Challenge </span>
	            <span style="cursor:pointer;" onclick="document.location='../CCR3'"> Feedback & Response </span> </div> </div> -->

		<div id="d2" class="dropdown" style="cursor:pointer;" onclick="document.location='../aboutMe/'">About Me</div>

		<div id="d3" class="dropdown" style="cursor:pointer;" onclick="document.location='../projects/'">Project Portfolio</div>

		<div id="d4" class="dropdown" style="cursor:pointer;" onclick="https://github.com/snekek/">Github</div>
	</div>

</div>

</body>
</html>
{% block content %}
{% endblock %}
